* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0px;
}

.main-container {
  max-width: 768px;
  margin: 0px auto;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color:white;
}

img {
  object-fit: cover;
}

header,
.localisation {
  display: flex;
  justify-content: center;
}

header {
height:60px;
align-items: center;
}

.localisation {
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  column-gap: 10px;
  padding-left:65px;
  box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
}

.localisation input {
  border: none;
  outline:none;
  background: none;
  text-align: left;
  padding-left:5px;
}

.localisation input[type=text]{
  font-size: 16px;
}

.presentation,
.fonction_txt {
  background-color: #f6f6f6;
}

.presentation {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 40px 0px 50px 0px;
  row-gap: 20px;
  box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.5);
}

.presentation p {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 10px;
}

.presentation a {
  font-size:16px;
  font-weight: normal;
  padding: 15px 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  width: 220px;
  margin: auto;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease, dropshadow 0.3s ease;
}

.presentation_btn:hover {
  opacity: 0.8;
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
}

.section-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.fonction {
  padding: 40px 20px;
}

.fonction_content,
.fonction_txt, 
.restaurants .card-content{
  display: flex;
  align-items: center;
}


.fonction .fonction_content {
  align-content: center;
  margin-top: 20px;
  position: relative;
}

.fonction .fonction_n {
  background: #9356dc;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  position: absolute;
  left: 0%;
  font-size: 14px;
}

.fonction .fonction_txt {
  width: 100%;
  column-gap: 20px;
  justify-content: flex-start;
  padding-left:30px;
  height: 72px;
  margin-left: 17px;
  border-radius: 20px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
}

.fonction i {
  color: #7e7e7e;
  font-size: 20px;
}

.fonction i:hover {
  color: #9356dc;
}

.restaurants {
  background: #f6f6f6;
  padding: 50px 20px 60px 20px;
}

.restaurants .card {
  width: 100%;
  height: 250px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  z-index: 1;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 65%;
  width: 100%;
}

.restaurants .card_new {
  position: absolute;
  background: #99e2d0;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: normal;
  color: #008766;
  z-index: 2;
  top: 10px;
  right: 10px;
}

.restaurants .card_txt {
  color: black;
  padding-top: 15px;
  padding-left: 15px;
}

.restaurants .card_txt p {
  font-size: 17px;
  font-weight: lighter;
  padding-top: 3px;
}

.restaurants .card-content {
  justify-content: space-between;
}

.card-heart {
  padding-top:5px;
  padding-right:30px;
  font-size: 24px;
  transition: display 0.3s;
}

.heart1{
  color:black;
}

.heart2 {
  display: none;
  color: transparent;
  background:linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  /* -webkit-background-clip: text; */
}

.card-heart:hover .heart1 {
  display: none;
}

.card-heart:hover .heart2 {
  display: inline;
}

footer {
  background: #353535;
  height: 180px;
  padding: 25px;
}

footer .fa-solid, footer li {
  color: white;
  font-size: 16px;
}

footer img {
  width: 100px;
}

footer .fa-solid {
  padding-right: 10px;
  font-size: 13px;
}

footer ul {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

footer > ul > li {
  list-style-type: none;
}

footer a {
  display: flex;
  align-items: center;
}


@media screen and (min-width:769px)
{

.main-container {
  max-width: 1440px;
}

header {
  height: 96px;
}

.localisation, .presentation {
  box-shadow: none;
}

.fonction {
  padding: 60px 180px;
}

.fonction_contents,
.restaurants_cards {
  display: flex;
  justify-content: space-between;
}

.fonction_contents {
  flex-direction: row;
  width:100%;
}

.fonction_contents .fonction_content {
  width: 30%;
}

.restaurants {
  padding:30px 180px;
}

.restaurants_cards {
  flex-wrap:wrap;
  row-gap: 30px;
}

.restaurants h2 {
  margin-bottom: 10px;
}

.restaurants a {
  width:46%;
  padding-top:0px;
}

.restaurants .card {
  box-shadow:none;
}

footer, 
footer li {
  display:flex;
  flex-direction:row-reverse;
}

footer{
  height: 114px;
  padding: 30px 60px;
  column-gap: 80px;
  align-items:flex-end;
}

footer img {
  width:100px;
  height:17px;
}

footer>ul {
  display:flex;
  flex-direction:row;
  column-gap: 10px;;
}

footer li:nth-of-type(3){
  padding-left:30px;
}
}