.loading_in, .loading, .menu .card_greenbox, .localisation, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_title, .fonction_content, .fonction_txt, .restaurants .card_content {
  display: flex;
  align-items: center;
}

* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0px;
}

.main-container {
  max-width: 768px;
  margin: 0px auto;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 29px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  height: 60px;
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.btn {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 1px 2px 6px 0px #9b9c9c;
}
.btn_presentation {
  width: 220px;
  margin: auto;
}
.btn_order {
  margin: 30px auto;
  width: 186px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 1px 3px 8px 0px #868889;
}

.heart {
  transition: display 0.3s ease-in-out;
}
.heart_1 {
  color: black;
}
.heart_2 {
  display: none;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
}
.heart:hover .heart_1 {
  display: none;
}
.heart:hover .heart_2 {
  display: inline;
}

.restaurants .heart {
  padding-top: 5px;
  padding-right: 30px;
  font-size: 24px;
}

.menu .heart {
  font-size: 21px;
}

.menu_page {
  position: relative;
}
.menu_page i {
  position: absolute;
  top: 22px;
  padding-left: 15px;
  font-size: 16px;
  color: #353535;
}
.menu_page h1 {
  font-size: 30px;
  margin: 0 auto;
}

footer {
  background: #353535;
  height: 185px;
  padding: 25px;
}
footer .fa-solid, footer li {
  color: white;
  font-size: 16px;
}
footer img {
  width: 100px;
  filter: invert(1);
}
footer .fa-solid {
  padding-right: 10px;
  font-size: 13px;
}
footer a {
  display: flex;
  align-items: center;
}
footer ul {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
footer > ul > li {
  list-style-type: none;
}

.section-title {
  margin-bottom: 20px;
}

.localisation {
  background-color: #eaeaea;
  height: 50px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 65px;
  box-shadow: inset 0px 3px 7px -4px #bdbfc0;
}
.localisation i {
  font-size: 15px;
}
.localisation input {
  border: none;
  background: none;
  text-align: left;
  padding-left: 5px;
  outline: none;
}
.localisation input[type=text] {
  font-size: 16px;
  font-weight: 400;
}

.presentation,
.fonction_txt {
  background-color: #f6f6f6;
}

.presentation {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 40px 0px 50px 0px;
  row-gap: 20px;
  box-shadow: inset 0px 8px 10px -10px #4a4b4b;
}
.presentation h2 {
  width: 285px;
  margin: 0 auto;
}
.presentation p {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
  width: 315px;
  margin: 0 auto;
}

.fonction {
  padding: 50px 25px 70px 25px;
}
.fonction_content {
  align-content: center;
  margin-top: 20px;
  position: relative;
}
.fonction_content:hover i {
  color: #9356dc;
}
.fonction_n {
  background: #9356dc;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  position: absolute;
  left: 0%;
  font-size: 14px;
}
.fonction_txt {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: flex-start;
  padding-left: 30px;
  height: 72px;
  margin-left: 17px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px 0px #cacdcd;
}
.fonction i {
  color: #7e7e7e;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.restaurants {
  background: #f6f6f6;
  padding: 50px 20px 60px 20px;
}
.restaurants .card {
  height: 250px;
  border-radius: 15px;
  z-index: 1;
  margin-top: 20px;
}
.restaurants .card_new {
  position: absolute;
  background: #99e2d0;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #008766;
  z-index: 2;
  top: 10px;
  right: 10px;
}
.restaurants .card_txt {
  color: black;
  padding-top: 10px;
  padding-left: 15px;
}
.restaurants .card_content {
  justify-content: space-between;
}
.restaurants .card_txt p {
  font-size: 17px;
  font-weight: 300;
  padding-top: 3px;
}
.restaurants img {
  height: 70%;
  width: 100%;
}

.menu_total h3 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
}

.restaurant_img img {
  position: relative;
  height: 275px;
  width: 100%;
  z-index: 1;
}

.menu {
  position: relative;
  width: 100%;
  margin-top: -50px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 30px 15px;
  z-index: 2;
}
.menu_title {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.menu_title-section {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  letter-spacing: 0.2px;
}
.menu_cards {
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.menu .card {
  margin-right: 0;
  padding: 0 15px;
  border-radius: 20px;
  height: 72px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px 0px #cacdcd;
}
.menu .card_txt {
  width: 80%;
}
.menu .card h4,
.menu .card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.menu .card h4 {
  font-size: 17px;
  font-weight: 400;
}
.menu .card p {
  font-size: 14px;
  font-weight: 300;
  padding-top: 3px;
}
.menu .card_price {
  margin-left: auto;
  font-weight: 400;
  padding-bottom: 14px;
  display: flex;
  align-self: flex-end;
  transition: transform 0.3s ease;
}
.menu .card_greenbox {
  position: absolute;
  width: 70px;
  right: -73px;
  height: 100%;
  border: none;
  background: #99e2d0;
  color: white;
  font-size: 20px;
  transition: right 0.3s ease;
}
.menu .card:hover .card_greenbox {
  right: 0;
}
.menu .card:hover .card_price {
  transform: translateX(-70px);
}
.menu .card:hover h4, .menu .card:hover p {
  width: calc(100% - 90px);
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  background-color: #f6f6f6;
  z-index: 2;
  animation: hideLoading 2.5s ease-in-out;
}
.loading_in {
  flex-direction: column;
}
.loading_in i {
  font-size: 30px;
  opacity: 1;
  transform: scale(1);
  animation: hearts 2.5s ease-in;
}
.loading_in p {
  padding-top: 10px;
  padding-left: 10px;
  color: #353535;
}

@keyframes hideLoading {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes hearts {
  0% {
    color: #9356dc;
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  50% {
    color: #ff79da;
  }
  100% {
    opacity: 1;
    color: #9356dc;
  }
}
.menu_title {
  transform-origin: top;
  transform: scaleY(1);
  animation: slidedown 0.7s ease-in-out;
}
.menu_title .heart {
  transform-origin: center;
  transform: scaleY(1);
  animation: ani_scale 1.5s ease-in-out;
}
.menu_appetizer, .menu_main, .menu_dessert {
  transform-origin: center;
  transform: scaleX(1);
}
.menu_appetizer {
  animation: motion_x 1s ease-in-out;
}
.menu_main {
  animation: motion_x 1.7s ease-in-out;
}
.menu_dessert {
  animation: motion_x 2.4s ease-in-out;
}

@keyframes slidedown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  40% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes ani_scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  45% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  60% {
    transform: scale(0.9);
    opacity: 1;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes motion_x {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    transform: scaleX(1.01);
  }
  90% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
.btn_order {
  transform-origin: center;
  transform: scale(1);
  animation: motion_btn 2.5s ease-in-out;
}

@keyframes motion_btn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  35% {
    transform: scale(0);
    opacity: 0;
  }
  36% {
    transform: scale(0, 1);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.05, 1.05);
  }
  70% {
    transform: scale(0.97, 0.97);
    opacity: 1;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .main-container {
    max-width: 1440px;
  }
  header {
    height: 96px;
  }
  .menu_page i {
    top: 40px;
  }
  .localisation,
  .presentation {
    box-shadow: none;
  }
  .presentation h2,
  .presentation p {
    width: 100%;
  }
  .fonction {
    padding: 60px 13%;
  }
  .fonction_contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .fonction_content {
    width: 30%;
  }
  .restaurants {
    padding: 30px 12%;
  }
  .restaurants_cards {
    flex-wrap: wrap;
    row-gap: 30px;
    display: flex;
    justify-content: space-between;
  }
  .restaurants h2 {
    margin-bottom: 10px;
  }
  .restaurants a {
    width: 46%;
    padding-top: 0px;
  }
  .restaurants .card {
    box-shadow: none;
  }
  .menu {
    width: 75%;
    right: -12.5%;
  }
  .menu_title {
    padding-top: 30px;
    justify-content: center;
  }
  .menu_total {
    padding: 20px 0;
    width: 65%;
    margin: 0 auto;
  }
  footer,
  footer li {
    display: flex;
    flex-direction: row-reverse;
  }
  footer {
    height: 114px;
    padding: 30px 60px;
    -moz-column-gap: 90px;
         column-gap: 90px;
    align-items: flex-end;
  }
  footer img {
    width: 100px;
    height: 17px;
  }
  footer > ul {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  footer li:nth-of-type(3) {
    padding-left: 30px;
  }
}/*# sourceMappingURL=styles.css.map */