//couleurs 
$primaire:#9356dc;
$secondaire:#ff79da;
$Tertiaire:#99e2d0;
$dark-grey:#353535;
$light-grey:#f6f6f6;
$mid-grey:#eaeaea;
$dark-green:#008766;

//font
$logofont: 'Shrikhand', serif; 
$mainfont: 'Roboto', serif;

//gradient 
@mixin gradient-btn {
  background: linear-gradient($secondaire,$primaire);
  }

@mixin gradient-heart {
  background: linear-gradient($primaire,$secondaire);
  }

//shadow
@mixin dropshadow {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    }

@mixin dropshadow-hover {
      box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
      }

* {
    font-family: $mainfont;
    box-sizing: border-box;
    margin: 0px;
  }

  .main-container {
    max-width: 768px;
    margin: 0px auto;
  }
  
  h1, h2 {
    font-family: $logofont;
  }

  h1 {
    font-size: 30px;
    margin-left: calc(50% - 130px);
  }
  
  h2 {
    font-size: 28px;
    letter-spacing:0.2px;
  }

  img {
    object-fit: cover;
  }
  
  a {
    text-decoration: none;
    color:white;
  }

  header {
    height: 60px;
    display: flex;
    align-items: center;

    & i {
      padding-left:15px;
      font-size: 16px;
      color:$dark-grey;
    }
  }

 
.restaurant_img img{
  position:relative;
  height:275px;
  width:100%;
  z-index: 1;
}

.menu {
    position:relative;
    width:100%;
    margin-top:-50px;
    background-color: $light-grey;
    border-radius: 40px 40px 0 0;
    padding: 30px 15px;
    z-index: 2;    

  &_title {
    display: flex;
    align-items: center;
    column-gap: 30px;
    
  }
    
  &_cards{
    padding-top: 15px;
    padding-bottom:30px;
    display:flex;
    flex-direction: column;
    row-gap: 15px;
  }

  a {
    margin:30px auto;
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    padding:15px 20px;
    border-radius:25px;
    width:186px;
    @include gradient-btn;
    @include dropshadow;
    transition:opacity 0.3s ease, dropshadow 0.3s ease;
 
    &:hover {
      opacity:0.8;
      @include dropshadow-hover;
    }
  }
}

h3 {
  margin-top:30px;
  font-size: 16px;
  font-weight:300;
  border-bottom:3px solid $Tertiaire;
  padding-bottom: 5px;
  width:40px;    
}

.heart {
  font-size:21px;
  transition: display 0.3s ease-in-out;
      
     &_1 {
     color:black;
     }
     
     &_2 {
         display:none;
         color:transparent;
         @include gradient-heart;
         background-clip:text;
     }
  
  &:hover .heart_1 {
      display:none;
  }
  &:hover .heart_2 {
      display:inline;
  }
  }

.card {
 padding:0 15px;
 position:relative;
 background-color:white;
 border-radius: 20px;
 width:100%;
 height:72px;
 display:flex;
 align-items: center;
 overflow:hidden;
 @include dropshadow;

&_content {
  width:100%;
  text-wrap:nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

  h4 {
  font-size: 17px;
  font-weight: 400;
 }

  p {
  font-size:14px;
  font-weight: 300;
  padding-top:3px;
 }
 
 &_price {
  font-weight: 400;
  margin-left: auto;
  padding-bottom: 14px;
  display:flex;
  align-self: flex-end;
  transition:transform 0.3s ease;
 }

&_greenbox {
  position:absolute;
  width:70px;
  right:-100px;
  height: 100%;
  border:none;
  background:$Tertiaire;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 20px;
  transition: transform 0.5s ease-in-out;
}

&:hover .card_greenbox {
  right:0;
}
&:hover .card_price {
  transform: translateX(-70px);
}
&:hover .card_content{
 width: calc(100% - 150px);
}
}

footer {
  position:relative;
  z-index: 3;
  background:$dark-grey;
  padding:25px;
  width:100%;

    & .fa-solid, & li {
      color:white;
      font-size:16px;
      }
    
    img {
      width:100px;
      }
  
    .fa-solid {
      padding-right:10px; 
      font-size:13px;
    }
   a {
      display: flex;
      align-items: center;
   }
    ul {
      padding:15px 0 0 0;
      display:flex;
      flex-direction:column;
      row-gap:8px;
    }
    >ul>li {
      list-style-type: none;
  }
}

.menu_title{
  transform-origin: top;
  transform: scaleY(1);
  animation: slidedown 0.7s ease-in-out;
  
  & .heart {
    transform-origin: center;
    transform: scaleY(1);
    animation: ani_scale 2s ease-in-out;
  }
}

@keyframes slidedown {
  0% {
  transform: scaleY(0);
  opacity: 0;
  }
  100%{
  transform: scaleY(1);
  opacity: 1;
  }
}

@keyframes ani_scale {
  0% {
    transform:scale(0);
    opacity:0;
  }

  45%{
    transform:scale(0);
    opacity:0;
  }

  50%{
    transform:scale(1.2);
    opacity:1;
  }
  60%{
    transform:scale(0.9);
    opacity:1;
  }

  65%{
    transform:scale(1);
    opacity:1;
  }

}


.order_btn {
  transform-origin: center;
  transform: scale(1);
  animation: motion_btn 2.5s ease-in-out;
}

@keyframes motion_btn{
  0%{
    transform: scale(0);
    opacity:0;
  }
  35%{
    transform: scale(0);
    opacity:0;
    }
  36%{
    transform: scale(0, 1);
    opacity:0.5;
    }
  60% {
    transform: scale(1.05, 1.05);
    }
  70%{
    transform: scale(0.97, 0.97);
    opacity:1;
    }
  80%{
    transform: scale(1);
    opacity:1;
    }
    100%{
      transform: scale(1);
    }
}

.menu {
 &_appetizer, &_main, &_dessert {
  transform-origin:left;
  transform:scaleX(1);
 }
 &_appetizer {
  animation: motion_x 1s ease-in-out;
 }
 &_main {
  animation: motion_x 1.5s ease-in-out;
 }
 &_dessert {
  animation: motion_x 2s ease-in-out;
 }
}

@keyframes motion_x {
  0%{
    transform:scaleX(0);
    opacity:0;
  }

  80%{
    transform:scaleX(1);
    opacity:1;
  }

  89%{
    transform:scaleX(1.015);
  }

  100%{
    transform:scaleX(1);
  }
}


@media screen and (min-width:768px) {

  .main-container {
    max-width:1440px;
}

header {
  height: 96px;
}

.restaurant_img img{
  height:383px;
}

.menu {
  width:75%;
  right:-12.5%;

  &_title {
    padding-top: 30px;
    justify-content: center;
  }
  &_total{
    padding:20px 0;
    width:65%;
    margin:0 auto;
  }
}

footer, 
footer li {
  display:flex;
  flex-direction:row-reverse;
}

footer {
  height: 114px;
  padding: 30px 60px;
  column-gap: 90px;
  align-items:flex-end;
   
  img {
    width:100px;
    height:17px;
  }

  >ul {
    display:flex;
    flex-direction:row;
    column-gap: 10px;;
  }
  li:nth-of-type(3){
    padding-left:30px;
  }
}
}